page-videos {
  .title {
    color: #38acff;
    font-size: 16px;
    font-weight: 500;
    margin-left: 15px;
  }
  .scroll-content {
      background-color: #fff;
    .middle {
      height: 10px;
      width: 100%;
      background-color: #f6f5f8;
    }
  }
}
